.row{
    background-color: rgba(255, 255, 255, 0.856);
    

}
#tbl{
    border-color: black;
}
#btn-add{
    background-color: rgb(16, 175, 16);
}

#btn-delete{
    background-color: rgb(216, 91, 133);
}
#btn-update{
    background-color: green;

}
/* #btn-view{
    background-color: rgb(39, 201, 39);
} */