ul{
    list-style: none;
}
.pageLinks{
    background-color: rgba(247, 193, 226, 0.719);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    border-radius: 5px;
    color: black;
}